
code {
  display: inline-block;
  background-color: rgba(242, 242, 242, 0.2);
  border: 0.5px solid rgb(219, 219, 219);
  color: rgb(68, 68, 68);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}
