
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #000;
}

body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

code {
  background-color: rgba(242, 242, 242, 0.2);
  border: 0.5px solid rgb(219, 219, 219);
  color: rgb(68, 68, 68);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.flex-direction {
  display: flex;
  flex-direction: column;
}